<h1>My Portfolio</h1>
<div class="search-area">
  <h3>Search Stocks</h3>
  <%= form_tag search_stock_path, method: :get, data: { turbo: false } do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%=  'search '%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% if @stock %>
  <div class="card col-sm-3">
    <div class="card-header"><strong> Symbol: </stong> <%= @stock.ticker %></div>
    <div class="card-header"><strong> Name: </stong> <%= @stock.name %></div>
    <div class="card-header"><strong> Price: </stong> <%= @stock.last_price %></div>
  </div>
<% end %>